<app-confirm-modal
  modalTitle="Add City"
  submitButtonCaption="Add"
  [allowToSubmit]="form.valid"
  [submit$]="submit$"
>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="login-form-container">
      <mat-form-field appearance="outline">
        <mat-label>City Name</mat-label>
        <input
          type="text"
          placeholder="Type city name..."
          aria-label="City Name"
          matInput
          formControlName="cityName"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="chooseCityInfo($event.option.value)"
        >
          <mat-option *ngFor="let info of cityInfo$ | async" [value]="info">
            {{ info.name }} {{ info.country }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Latitude</mat-label>
        <input
          matInput
          type="number"
          placeholder="Latitude"
          formControlName="latitude"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Longtitude</mat-label>
        <input
          matInput
          type="number"
          placeholder="Longtitude"
          formControlName="longtitude"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input
          matInput
          type="text"
          placeholder="Country"
          formControlName="country"
        />
      </mat-form-field>

      <button type="button" mat-raised-button (click)="fileInput.click()">
        Choose City Image
      </button>
      <input
        hidden
        #fileInput
        type="file"
        formControlName="cityImage"
        id="file"
        (change)="onFileSelected($event)"
      />
    </div>
  </form>
</app-confirm-modal>
