.example-card {
  margin: 12px;
  max-width: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-image {
    margin: 12px auto 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.card-actions {
    justify-content: space-between;
}