<app-confirm-modal modalTitle="Add Country" submitButtonCaption="Add">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="country-form-container">
      <mat-form-field appearance="outline">
        <mat-label>Country Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Country Name"
          formControlName="countryName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ISO2</mat-label>
        <input
          matInput
          type="text"
          placeholder="ISO2"
          formControlName="iso2"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>ISO3</mat-label>
        <input
          matInput
          type="text"
          placeholder="iso3"
          formControlName="iso3"
        />
      </mat-form-field>
    </div>
  </form>
</app-confirm-modal>
